body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #410690;
    padding: 10px 20px;
}
nav img {
    margin: 1rem;
}
nav ul {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
}
nav li {
    margin: 1rem;
    list-style: none;
    transition: .1s all ease;
}
li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.115);
    transition: .1s all ease;
}

nav li:hover {
    transform: scale(1.04);
}
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    nav li {
        width: 100%;
        text-align: center;
    }
    li a {
        font-size: 22px;
    }
}
.userProfile {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.115);
    margin-left: auto; 
    margin-right: 5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bxs-user-circle{
    font-size: 60px;
    margin: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.dropdown{
    width: 100px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 60%;
    right: 30%;
    border: 1px solid rgba(0, 0, 0, 0.107);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    text-align: center;
    display: none;

}

.dropdown button{
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: .1s all ease;
}

.dropdown button:hover{
    transform: scale(1.02);
    color: red;
}

.userProfile:hover .dropdown{
    display: block;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.search input{
    width: 500px;
    height: 50px;
    border-radius: 3rem;
    border: none;
    padding-left: 2rem;
    background-color: rgb(255, 255, 255);
    transition: all .2s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.041);
}

.search input:hover{
    transform: scale(1.01);
}

.search input:focus{
    outline: none;
}


.search button{
    border-radius: 3rem;
    border: none;
    width: 55px;
    height: 50px;
    transition: all .2s ease;
    background-color: #8b35fd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.041);
}

.search button:hover{
    background-color: #6212cb;
    transform: scale(1.05);

}

.search select{
    border-radius: 2rem;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border:none;
    padding-left: 1rem;
    transition: all .2s ease;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 13px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.115);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.041);
}

.search select:hover{
    transform: scale(1.02);
}

.search select:focus{
    outline: none;
}

.advisorList{
    margin-left: 15rem ;
    margin-right: 15rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}


.advisorCard{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 600px;
    margin-bottom: 3rem;
    transition: all .1s ease;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.041);

}

.advisorCard:hover{
    transform: scale(1.05);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.041);
}

.advisorList img{
    width: 320px;
    height: 410px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.details{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.advisorCard button{
    font-weight: bold;
    border: none;
    border-radius: 3rem;
    width: 40px;
    height: 40px;
    transition: all .1s ease;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.advisorCard button:hover{
    transform: scale(1.2);
}

.bx-info-circle{
    font-size: 25px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

footer p {
    color: #777;
    font-size: 0.9rem;
}

.filter-wrap{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-right: 20rem;
    margin-left: 20rem;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.067);
}

.filter-container{
    font-weight: bold;
    font-size: 18px;
}

.filterButton{
    border: none;
    border-radius: 5px;
    background-color: #8b35fd;
    width: 150px;
    height: 40px;
    color:white;
    font-weight: bold;
    font-size: 16px;
    align-items: end;
    cursor: pointer;
    transition: all .2s ease ;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.148);
}

.wrapFilterButton{
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}

.filterButton:hover{
    background-color: #410690;
    transform: scale(1.02);
}