body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #007bff;
}

.details {
    margin-top: 20px;
}

.details p {
    font-size: 16px;
    line-height: 1.6;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}



.button-accept {
    background-color: #28a745;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.button-reject {
    background-color: #dc3545;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.button-chat {
    background-color: #17a2b8;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.button-back {
    background-color: #6c757d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

a {
    text-decoration: none;
}

.bx-check{
    font-size: 40px;
}

.bx-x{
    font-size: 40px;
}

.bx-arrow-back{
    font-size: 30px;
}

.bxs-message-dots{
    font-size: 30px;
}


