body {
    background-color: #f8f9fa;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #410690;
    padding: 10px 20px;
}
nav img {
    margin: 1rem;
}
nav ul {
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
}
nav li {
    margin: 1rem;
    list-style: none;
    transition: .1s all ease;
}
li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.115);
    transition: .1s all ease;
}

nav li:hover {
    transform: scale(1.04);
}
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    nav li {
        width: 100%;
        text-align: center;
    }
    li a {
        font-size: 22px;
    }
}

.userProfile {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.115);
    margin-left: auto; 
    margin-right: 5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bxs-user-circle{
    font-size: 60px;
    margin: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.dropdown{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 60%;
    right: 30%;
    border: 1px solid rgba(0, 0, 0, 0.107);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    text-align: center;
    display: none;

}

.dropdown button{
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: .1s all ease;
}

.dropdown button:hover{
    transform: scale(1.02);
    color: red;
}

.userProfile:hover .dropdown{
    display: block;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.student-info {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
.file-list {
    list-style-type: none;
    padding: 0;
}
.file-list li {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.file-list li i {
    color: #410690;
    font-size: 2rem;
    margin-right: 1rem;
}
.file-list li a {
    color: #1a1a2e;
    text-decoration: none;
}
.file-list li a:hover {
    color: #410690;
    text-decoration: underline;
}

