body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #410690;
    padding: 10px 20px;
}
nav img {
    margin: 1rem;
}
nav ul {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
}
nav li {
    margin: 1rem;
    list-style: none;
    transition: .1s all ease;
}
li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.115);
    transition: .1s all ease;
}

nav li:hover {
    transform: scale(1.04);
}
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    nav li {
        width: 100%;
        text-align: center;
    }
    li a {
        font-size: 22px;
    }
}

.userProfile {
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.115);
    margin-left: auto; 
    margin-right: 5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bxs-user-circle{
    font-size: 60px;
    margin: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.dropdown{
    width: 100px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 60%;
    right: 30%;
    border: 1px solid rgba(0, 0, 0, 0.107);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    text-align: center;
    display: none;

}

.dropdown button{
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: .1s all ease;
}

.dropdown button:hover{
    transform: scale(1.02);
    color: red;
}

.userProfile:hover .dropdown{
    display: block;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

footer p {
    color: #777;
    font-size: 0.9rem;
}

.container {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-info img {
    border-radius: 5%;
    width: 130px;
    height: 170px;
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 1.5rem;
    margin: 0;
}

.profile-info p {
    font-size: 1rem;
    color: #777;
}

.contact-info, .research-info {
    margin-bottom: 30px;
}

.contact-info h3, .research-info h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-info p, .research-info p {
    font-size: 1rem;
    color: #777;
    line-height: 1.6;
}

.nav-form{
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-form button{
    
    margin: 3px;
    border: none;
    border-radius: 16px;
    background-color: rgb(0, 179, 255);
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease;
}

.bxs-message-dots{
    font-size: 30px;
    
}

.nav-form button:hover{
    transform: scale(1.02);
    box-shadow: 4px 1px 8px rgba(0, 0, 0, 0.086);
}
.nav-form .bx-history{
    font-size: 30px;
}

.nav-form .bx-highlight{
    font-size: 30px;
}

