body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-info img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 1.5rem;
    margin: 0;
}

.profile-info p {
    font-size: 1rem;
    color: #777;
}

.contact-info, .research-info {
    margin-bottom: 30px;
}

.contact-info h3, .research-info h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-info p, .research-info p {
    font-size: 1rem;
    color: #777;
    line-height: 1.6;
}

.profile-not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}